<h2><%= @user.username %>'s user page!</h2>

<% @user.goals.each do |goal| %>

  <% if goal.is_private %>
    <% if @user == current_user %>
      <li>
        <em>
          <%= link_to(goal.name, user_goal_url(@user, goal)) %>
        </em>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to(goal.name, user_goal_url(@user, goal)) %>
    </li>
  <% end %>

<% end %>

<% if current_user == @user %>
  <%= button_to("Create goal!", new_goal_url, :method => :get)%>
<% end %>