<h2>Goal Page: <%= @goal.name %> </h2>

<%= link_to("Back to #{@goal.user.username}'s page", user_url(params[:user_id]))%>
<% if @cheer_button %>
  <%= button_to "Cheer!", goal_cheers_url(@goal) %>
<% end %>
<ul>
  <% @cheering_users.each do |user| %>
    <li>
      <%= user.username %> cheered!
    </li>
  <% end %>
</ul>
